.covid-hero-section {
  padding: 5rem 1rem;
  font-family: "Poppins", sans-serif !important;

  .heading {
    font-family: "Syncopate", sans-serif;
    font-weight: 700;
  }

  .subheading {
    font-weight: 300;
    margin-top: 1rem;
  }
}
