html,
body {
  background-color: #eeeeee !important;
  font-family: "Poppins", sans-serif !important;
  margin: 0;
  padding: 0;
}

.wideFont {
  font-family: "Syncopate", sans-serif !important;

  &.bold {
    font-weight: 700;
  }

  &.light {
    font-weight: 300;
  }
}
